p { color:white; font-family: century gothic; padding-left: 15; z-index: 15 }

#titlename {
    color:black;
    font-size: 20;
    font-weight: bold;
    margin-top: 25;
    padding-left: 50;
}

#menubox {
    height: 55;    
    background-color: #FFFFFF;
    vertical-align: top;
}

#main {
    background-color: #0099FF;
    position: absolute;
    height:550;
    width: 100%;
    left: 0;
    
    border-top-color: #008AE6;
    border-top-style: solid;
    border-bottom-color: #33ADFF;
    border-bottom-style: solid;
}

#box2 {
    background-color: #FFFFFF;
    height: 200;
    color:#0099FF
}

#footer {
    width: 100%;
    position: absolute;
    height: 100;
    left: 0;
    background-color: #e0e0e0;
    margin-top: 1000;
    z-index: 90;
}

#bgshape {
    height:325;
    float:right;
    z-index:5;
}

#cover {
    position: absolute;
    float: right;
    right:300;
    width:275;
    z-index:10;
    top: 38;
    border-top-left-radius: 5;
    border-top-right-radius: 5;
    border-color: #E0E0E0;
}

#orderbutton {
    background-color: #303030;
    width:155;
    height: 85;
    z-index: 60;
    position: absolute;
    border-radius: 6;
    left:108;
    top: 234;
}

#ordertext {
    font-size: 18;
    color: #0099FF;
    position: absolute;
    z-index: 30;
    bottom:2;
    font-weight: bold;
    text-shadow: 2px 2px 2px #080808;
    
}

#blackbg {
    position: absolute;
    width: 1277;
    height: 800;
    top: 0;
    z-index: 100;
    left:0;
    opacity: 0.8;
}

#gallerybg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 90;
    background-color: black;
    opacity: 0.95;
}

#iframe {
    position:absolute;
    z-index:100;
    left: 500;
    height: 580;
    border-radius: 20;
    box-shadow: 10px 10px 5px #000000;
}

#bgpic {
    top:735 ;
    right: 50;
    z-index: 10;
    position: absolute;
    
}

.thumbs {
    top:500;
    z-index: 40;
    position: absolute;
    width:100;
    border-radius: 10;
    box-shadow: 10px 10px 5px #005C99 ;
    float: right
}

/* #288EDF */

.one {
    z-index:45;
    position: absolute;
    float: left;
    padding-top: 130;
}

.plainlink {
    text-decoration: none;
    color: inherit  
}

.gallery {
    position:absolute;
    z-index:100;
    left: 500;
    height: 580;
    border-radius: 20;
    box-shadow: 10px 10px 5px #000000;
}

.leftcolumn {
    width: 100;
    height: 100;
    position: absolute;
    z-index: 90;
    left:50;
    border-radius: 10;
    box-shadow: 10px 10px 5px #000000;
}

.middlecolumn {
    width: 100;
    height: 100;
    position: absolute;
    z-index: 90;
    left:170;
    border-radius: 10;
    box-shadow: 10px 10px 5px #000000;
}

.rightcolumn {
    width: 100;
    height: 100;
    position: absolute;
    z-index: 90;
    left:290;
    border-radius: 10;
    box-shadow: 10px 10px 5px #000000;
}

#gallery_home_thumb {
    width:100;
    height: 100;
    position: absolute;
    z-index: 90;
    left: 290;
    border-radius: 10;
    background-color:#0099FF;
    margin-top:360;
}

#gallery_home_text {
    color:#FFFFFF;
    font-size: 20;
    font-weight: bold;
    padding-top: 17;
    padding-left: 20;
    text-shadow: 2px 2px 2px #004C80;
    z-index: 95
}

#fb-root {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 98;
    
}